<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        body {
  font-family: system-ui;
  background:white;
  text-align: center;
}
    </style>
  </head>
  <body>
    <h1>Hello! Welcome to Weather App. You can register yourself here and tell us 3 of your favourite cities you want the weather details for</h1>
    <div>
    <a href="/login">Click here to login to your account</a>
</div>
<div>    
    <a href="/registerUser">Click here to register</a>
</div>
<div>    
  <a href="/updateWeatherData">Click here to Update the data in database</a>
</div>

  </body>
</html>