<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        body {
  font-family: system-ui;
  background:white;
  text-align: center;
}
    </style>
  </head>
  <body>
    <h1>Hello! Welcome to your profile</h1>
    <div>
        <a href="/">Home Page</a>
    </div>
    <div>
    <a href="/userWeatherData">Click here to get the data for 3 cities you selected</a>
</div>

<div>    
    <a href="/logout">Click here to logout</a>
</div>

  </body>
</html>