<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
        body {
  font-family: system-ui;
  background:white;
  text-align: center;
}
    </style>
  </head>
  <body>
    <h1>Hello! Welcome to your profile</h1>
    <div>
        <a href="/">Home Page</a>
    </div>
    <div>
    <a href="/userWeatherData">Click here to get the data for 3 cities you selected</a>
</div>
<form action='/setUserPreferences' method='post'>
<h4>To update the preferences, select 3 cities given below and press Update</h4>
        <input type="checkbox" name="Delhi">
        <label for="delhi">Delhi</label><br>
        <input type="checkbox"name="Mumbai">
        <label for="mumbai">Mumbai</label><br>
        <input type="checkbox" name="Bengaluru">
        <label for="delhi">Bangalore</label><br>
        <input type="checkbox" name="Hyderabad">
        <label for="delhi">Hyderabad</label><br>
        <input type="checkbox" name="Chennai">
        <label for="delhi">Chennai</label><br>
        <input type="checkbox" name="Kolkata">
        <label for="delhi">Kolkata</label><br>
        <input type="checkbox" name="Ahmedabad">
        <label for="delhi">Ahmedabad</label><br>
        <input type="checkbox" name="Pune">
        <label for="delhi">Pune</label><br>
        <input type="checkbox" name="Agra">
        <label for="delhi">Agra</label><br>
        <input type="checkbox" name="Shimla">
        <label for="delhi">Shimla</label><br>
        <input type="submit" value="Update">
        </form>
        <hr>

<div>    
    <a href="/logout">Click here to logout</a>
</div>

  </body>
</html>